
.product-card {
    position: relative;
    overflow: hidden;
    /*margin: 10px;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    border: none;
    transition: all 0.4s ease-in-out;
    width: 100%;
    height: 100%;
    background: #fff;


}

.product-card:hover {
    Box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
    transform: translateY(-10px) !important;
}


.product-card .img-wrap {
    overflow: hidden
}


.product-card .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    height: 200px;
    /*padding: 16px*/
}

@media screen and (max-width: 768px) {
    .product-card .img-wrap {
        border-radius: 0.2rem 0.2rem 0 0;
        height: 100%;
        /*padding: 16px*/
    }


}

.product-card .img-wrap img {

    max-width: 100%;
    width: 100%;
    display: inline-block;
    -o-object-fit: cover;
    object-fit: cover
}


.product-card .info-wrap {
    overflow: hidden;
    padding: 18px 20px
}

.product-card {
    color: #212529;
}


.product-card .bottom-wrap-payment {
    padding: 0;
    border-top: 1px solid #e4e4e4
}

.product-card .rated {
    font-size: 10px;
    margin-top: 5px;
    color: #b3b4b6
}


.toast-message {

    background-color: #333333;
    color: #ffffff;
    border-radius: 2px;
    padding: 20px 10px;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;

}

.msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress {
    background: #444444;
}

