
.Sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
}

.Top100 {
    top: 100px
}

.Top60 {
    top: 60px;
}

.Sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

.Sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}

.Sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

.Sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}

@media (min-width: 1200px) {
    .Close {
        left: -300px;
    }
}


@media (max-width: 1199px) {
    .CloseMobile {
        left: -300px;
    }
}

@media (max-width: 1199px) {
    .OpenMobile {
        left: 0;
    }
}


.SidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.NavHeading {
    font-size: 11px;
    text-transform: uppercase;
    color: #899bbd;
    font-weight: 600;
    margin: 10px 0 5px 15px;
}


.NavContent {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
}

