.ar._109-92 {
    padding-top: 84.4036697248%
}


#jm .-rad4, .card, .flyout {
    border-radius: 4px
}

img {
    border-style: none
}

.flyout .tit + .s-itm {
    border-top: 1px solid #d4d4d6
}

.flyout .sub {
    opacity: 0
}

.flyout .itm:focus + .sub, .flyout .itm:hover + .sub, .flyout .sub:hover {
    opacity: 1
}

.card, .flyout, .flyout .sub {
    background-color: #fff
}


.flyout .s-itm {
    color: #75757a
}

.flyout .s-itm:hover {
    color: #313133
}

a {
    background-color: transparent
}

.flyout .itm:hover, .flyout .tit:hover {
    color: #f68b1e
}

.flyout .s-itm, .flyout .tit {
    display: block
}

a {
    display: inline-block
}

#jm .-oh, .flyout, .flyout .co, .flyout .s-itm, .flyout .text, .flyout .tit {
    overflow: hidden
}

.flyout .itm:focus + .sub, .flyout .itm:hover + .sub, .flyout .sub:hover {
    visibility: visible
}

.flyout .sub {
    visibility: hidden
}

#jm, #jm .-df, .flyout, .flyout .itm, .flyout .sub-w, .row, .sldr, .sldr > .itm {
    display: flex
}

#jm {
    flex: 1 0 auto
}

.row {
    flex: 0 1 auto
}

#jm .-fg1, #jm main, .flyout .text {
    flex-grow: 1
}

#jm .-fsh0 {
    flex-shrink: 0
}

.flyout .sub {
    order: 99
}

.sldr {
    justify-content: center
}

#jm .-j-bet {
    justify-content: space-between
}

.flyout .itm {
    align-items: center
}

#jm .-c-bet {
    align-content: space-between
}

#jm .-c-spar {
    align-content: space-around
}

#jm, .flyout {
    flex-direction: column
}

#jm .-fw-w, .flyout, .row {
    flex-wrap: wrap
}

.ar, .flyout-w, .has-b2top, .sldr {
    position: relative
}

.ar > img, .flyout-w .flyout, .sldr > .itm {
    position: absolute
}

.ar > img, .flyout-w .flyout, .sldr > .itm {
    left: 0
}

.ar > img, .flyout-w .flyout, .sldr > .itm {
    top: 0
}

.card, .flyout, .sldr._main {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05)
}

.flyout-w .flyout:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15)
}

.flyout .sub {
    box-shadow: inset 1px 0 1px 0 #d4d4d6
}

.flyout .itm, .flyout-w {
    width: 206px
}

.flyout .sub-w {
    width: 728px
}

.flyout .itm:focus + .sub, .flyout .itm:hover + .sub, .flyout .sub:hover {
    width: 934px
}

.sldr._main {
    width: 712px
}

#jm .-h-flyout, .flyout, .flyout .sub, .sldr._main {
    height: 384px
}

#jm .-fw, .ar, .ar > img, .row, .sldr > .itm {
    width: 100%
}

.ar > img, .flyout .sub-w, .sldr > .itm {
    height: 100%
}


.flyout .itm {
    height: 32px
}

.flyout .sub {
    width: 0
}

.ar {
    height: 0
}

#jm .-h-50p_-m {
    height: calc(50% - 8px)
}


.flyout .cat, .flyout .tit {
    padding-top: 4px
}

.flyout .tit + .s-itm {
    padding-top: 8px
}

#jm .-pvm {
    padding-top: 16px
}

.col16, .flyout .cat, .flyout .itm:focus + .sub, .flyout .itm:hover + .sub, .flyout .sub:hover {
    padding-right: 8px
}

#jm .-phm {
    padding-right: 16px
}

.flyout .tit {
    padding-bottom: 4px
}

#jm .-pbs {
    padding-bottom: 8px
}

#jm .-pvm, .flyout .cat {
    padding-bottom: 16px
}

.col16, .flyout .cat, .flyout .itm, .flyout .itm:focus + .sub, .flyout .itm:hover + .sub, .flyout .sub:hover {
    padding-left: 8px
}

#jm .-phm {
    padding-left: 16px
}


.flyout .s-itm {
    margin-top: 4px
}

.row {
    margin-right: auto
}

#jm .-mhm {
    margin-right: 16px
}

.row {
    margin-left: auto
}

#jm .-mhm {
    margin-left: 16px
}

.has-b2top {
    padding-bottom: 56px
}

.sldr._img .itm {
    opacity: 1;
    transition: opacity .5s;
}

.flyout .sub {
    transition: all 0s .2s
}


#jm .-m, .flyout .s-itm:hover, .flyout .tit {
    font-weight: 500
}

.flyout .tit {
    text-transform: uppercase
}

a {
    text-decoration: none
}

.flyout .s-itm, .flyout .text, .flyout .tit {
    white-space: nowrap
}

.flyout .s-itm, .flyout .text, .flyout .tit {
    text-overflow: ellipsis
}

#jm .-fs0 {
    font-size: 0
}

#jm .-fs12, .flyout {
    font-size: .75rem
}

#jm .-fs14 {
    font-size: .875rem
}

.sldr {
    -moz-user-select: none;
    user-select: none
}

.flyout .itm:not([href]), .flyout .s-itm:not([href]), .flyout .tit:not([href]) {
    cursor: default
}

.flyout {
    z-index: 50
}

a {
    color: inherit
}


.col16 {
    flex-basis: 100%;
    max-width: 100%;
    min-width: 100%;
    width: 100%
}

.rad:focus-visible {
    outline: 0;
    outline-offset: 0
}

.flyout .co {
    width: 33.3333333333%
}

.flyout .sub:focus-within {
    opacity: 1;
    padding-left: 8px;
    padding-right: 8px;
    visibility: visible;
    width: 934px
}

.sldr {
    --slider-width: 1168px
}

@media (max-width: 1200px) {
    #jm .-m-dn {
        display: none
    }

    .row {
        max-width: 950px
    }

    .sldr {
        --slider-width: 934px
    }
}