.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    background: #106eea;
    border: 1px solid #ffffff;
    border-radius: 5px;
     padding: 5px 10px;
    color: #ffffff;

}

.slider-wrapper .first,.slider-wrapper .last{
 font-size: 13px;
}

.slider-wrapper span{
    margin-right: 10px;
}