.pointer{
    cursor: pointer;
}

.not-allowed{
    cursor: not-allowed;

}


.card {
  margin-bottom: 30px!important;
  border: none!important;
  border-radius: 5px!important;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1) !important;
}

.card-header,
.card-footer {
  border-color: #ebeef4!important;
  background-color: #fff!important;
  color: #798eb3!important;
  padding: 15px!important;
}

.card-title {
  padding: 20px 0 15px 0!important;
  font-size: 18px!important;
  font-weight: 500!important;
  color: #012970!important;
  font-family: "Poppins", sans-serif!important;
}

.card-title span {
  color: #899bbd!important;
  font-size: 14px!important;
  font-weight: 400!important;
}

.card-body {
  padding: 0 20px 20px 20px!important;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

