/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
    line-height: 1;
    margin-right: 15px;

}

@media (min-width: 1200px) {
    .logo {
        width: 280px;
    }
}

.logo img {
    max-height: 26px;
    margin-right: 6px;
}

.logo span {
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    font-family: var(--font-primary);
}

.header {
    height: 60px;
    background-color: #fff;
    transition: all 0.3s;
    z-index: 997;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}


.header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #012970;
}

.header .d-flex.align-items-center {
    flex-wrap: wrap;
}

.header .search-bar {
    margin-right: 15px;
    min-width: 360px;
    padding: 0 20px;
    flex-grow: 1;
}

@media (max-width: 1199px) {
    .header .search-bar {
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        padding: 20px;
        box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
        background: white;
        z-index: 9999;
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;
    }

    .header .search-bar-show {
        top: 100px;
        visibility: visible;
        opacity: 1;
    }
}

.header .search-form {
    width: 100%;
}

.header .search-form input {
    font-size: 14px;
    color: #012970;
    border: 1px solid rgba(1, 41, 112, 0.2);
    padding: 7px 38px 7px 8px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
}

.header .search-form input:focus,
.header .search-form input:hover {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
    border: 1px solid rgba(1, 41, 112, 0.3);
}

.header .search-form button {
    border: 0;
    padding: 0;
    margin-left: -30px;
    background: none;
}

.header .search-form button .icon {
    color: #012970;
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
    list-style: none;
}

.header-nav > ul {
    margin: 0;
    padding: 0;
}

.header-nav .nav-icon {

    color: #012970;
    /*margin-right: 25px;*/

}

.header-nav .nav-icon .badge-class {
    font-size: 22px;
    position: relative;
}

.header-nav .nav-icon .label {
    font-size: 14px;
    font-weight: 600;
}

.header-nav .nav-profile {
    color: #012970;
}

.header-nav .nav-profile img {
    max-height: 36px;
}


.header-nav .nav-profile span {
    font-size: 14px;
    font-weight: 600;
}

.header-nav .badge-number {
    position: absolute;
    inset: -6px -6px auto auto;
    font-weight: normal;
    font-size: 10px;
    padding: 2px 4px;

}

.header-nav .nav-item {
    margin-right: 20px;
}
.header-nav .nav-item:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* This will remove the margin from the last nav item */
.header-nav .nav-item:last-child {
    margin-right: 0;
}

/* Add this media query to your existing CSS file */

@media (min-width: 1199px) and (max-width: 1399px) {
    .header .search-bar {
        min-width: 250px; /* Reduce the minimum width */
    }
}

/* Add this media query to your existing CSS file */


@media (max-width: 452px) {
    .header .nav-item {
        margin-right: 8px; /* Reduce the margin between nav items */
    }

    .header .nav-item:last-child {
        margin-right: 0;
    }

    .header .search-bar {
        display: none; /* Hide the search bar */
    }

    .header .toggle-sidebar-btn {
        padding-left: 5px; /* Reduce the padding for the sidebar button */
    }
}

